.container {
    width: 100%;
    left: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}
